on: release
name: Release
jobs:
    generate:
        name: Create CLI binaries
        runs-on: ubuntu-latest
        steps:
          - name: Checkout the repository
            uses: actions/checkout@94d077c24971944d312dd9197c1bdfba62b39878
          - name: Generate artifacts
            uses: skx/github-action-build@5ca2e55b7ba4583d27b0e4c256685dd7fffb4acf
          - name: Upload artifacts
            uses: skx/github-action-publish-binaries@cafb819f9432619c3331782ffbbb752f1e2be626
            env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            with:
                args: 'gitlab-cli_*'
